@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(http://fonts.googleapis.com/css?family=Pacifico);

body {
  color: #333;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background-image: url("../symphony.png");
}

#container {
  background-color: rgba(255,255,255,0.6);
  margin: 4em auto;
  width: 960px;
  position: relative;
  overflow: auto;
  padding: 2em;
}

main {
  overflow: auto;
}

header img {
  display: block;
  margin: 0px auto;
}

img#bw {
  display: none;
}

.column1, .column2 {
  float: left;
  width: 360px;
  margin: 5px;
  padding-left: 50px;
  padding-right: 50px;
}

nav li {
  display: inline-block;
  text-align: center;
  width: 110px;
  margin-right: 50px;
  margin-left: 5px;
}

nav a {
  display: block;
  text-decoration: none;
  color: rgb(232,61,88);
  font-size: 1.2em;
  font-weight: bold;
}

nav a:hover {
  color: rgb(241,98,83);
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 1.7em;
  color: rgb(241,98,83);
}

h2 {
  font-size: 1.05em;
}

a {
  color: black;
}

a:hover {
  color: rgb(241,98,83);
}
